<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Prashant Shrivastava, Piyush Thirani, Rahul Jain">

    <title>Image Mining - Minor Project</title>

    <!--favicos -->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favi/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favi/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favi/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favi/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favi/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favi/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favi/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favi/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favi/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favi/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favi/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favi/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favi/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/favi/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Buttons -->
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>

    <style type="text/css"> 
    #logotxt{
        display: inline;
    }
    #logo{
        opacity: 2;
    }
    </style>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id='logo' height='50' width='50'  src='https://raw.githubusercontent.com/prashant1993/imgmining/master/static/img/logo.png'> <a class="navbar-brand page-scroll" href="#page-top" id="logotxt">Image Mining</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Methodology</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Live Demo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Developers</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <font color="#0e9dbc"><h1>Think It. Find It.</h1></font>
                <hr>
                <p>Need to Search for any images similar to the ones you have??</p>
                <p>Start Here!!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start our image search service and you would be glad with the results! You see a picture and wanna search for the similar ones, but run out of words.. This service will surely help you in your needs, and is easy to use. No strings attached!</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Canonical Results</h3>
                        <p class="text-muted">Our Algorithms give near-to accurate results.</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Volant Search</h3>
                        <p class="text-muted">Speed optimized search engine.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Similarity Quotient</h3>
                        <p class="text-muted">Observe how close the two images are!</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-th wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Cluster Images</h3>
                        <p class="text-muted">Upload an image set and find Similar Ones in a Cluster!</p>
                    </div>
                </div>
                

            </div>
        </div>
    </section>



    <section class="no-padding" id="portfolio">

        	<aside class="bg-dark" id="Aaside">
    	        <div class="container text-center">
    	            <div class="call-to-action">
                        <ul>
                            <li>
                                <a href="#myModal1" data-toggle="modal" class="round green">
                                    Upload and Search
                                    <span class="round">
                                        Upload One Image and look if any similar ones are available.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#myModal2" data-toggle="modal" class="round red">
                                    Cluster Images
                                    <span class="round">
                                        Upload a set of images and see how a clustering tree is formed.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#myModal3" data-toggle="modal" class="round yellow">
                                    Exact Match Index
                                    <span class="round">
                                        Take a look if two uploaded images have any exact elements in common.
                                    </span>
                                </a>
                            </li>
                        </ul> 
    	                   <!-- <a href="#" class="btn btn-default btn-xl wow tada">Start Searching!</a> -->
    	            </div>
    	        </div>
        	</aside>

    </section>
    
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Contact Students</h2>
                
                <hr class="primary">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://facebook.com/prashant19" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Prashant Shrivastava</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/piyush.thirani" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Piyush Thirani</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100003153916016&fref=ts" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Rahul Jain</span></a>
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-8 col-lg-offset-2">
            	<h2 class="section-heading">Mentor</h2>
            	<hr class="primary">
            	
            	<ul class="list-inline banner-social-buttons">
	            	<li>
	                        <a href="#" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Mr. Rahul Gupta</span></a>
	                </li>
	            </ul>
            </div>
        </div>
    </section>

    <div id="myModal1" class="modal fade">

        <form id="upload-form" method="POST" enctype="multipart/form-data"> 
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Image to be Searched</h4>
                    </div>
                    <div id='upload1' class="modal-body">

                        <div class="gridcontainer clearfix">
                          <div class="grid_3">
                            <div class="fmcircle_out">
                              <input id="file-picker1" type="file" name="file" accept="image/*" multiple>
                              <a href="" id='uploadlink1'>
                                <div class="fmcircle_border">
                                  <div class="fmcircle_in fmcircle_blue">
                                    <span>Upload to Search</span><img src="http://www.clker.com/cliparts/4/1/1/8/13501544242063799778upload.svg.med.png" alt="" />
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div id="dropbox">
                            Drag and Drop Files Here
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="myModal2" class="modal fade">
        <form id="upload-form1" method="POST" enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>

                    <div id='upload2' class="modal-body">

                        <div class="gridcontainer clearfix">
                          <div class="grid_3">
                            <div class="fmcircle_out">
                              <input id="file-picker2" type="file" name="file" accept="image/*" multiple>
                              <a href="" id='uploadlink2'>
                                <div class="fmcircle_border">
                                  <div class="fmcircle_in fmcircle_red">
                                    <span>Upload to Collate</span><img src="http://s24.postimg.org/nabspz4hh/uploader.png" alt="" />
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div id="dropbox1">
                            Drag and Drop Files Here
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="myModal3" class="modal fade">
        <form id="upload-form2" method="POST" enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div id='upload3' class="modal-body">
                        <div class="gridcontainer clearfix">
                          <div class="grid_3">
                            <div class="fmcircle_out">
                            <input id="file-picker3" type="file" name="file" accept="image/*" multiple/>
                              <a href="" id='uploadlink3'>
                                <div class="fmcircle_border">
                                  <div class="fmcircle_in fmcircle_green">
                                    <span>Upload to Cluster</span><img src="http://icons.iconarchive.com/icons/icons8/ios7/512/Very-Basic-Upload-To-Cloud-icon.png" alt="" />
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                    
                        <div id="dropbox2">
                            Drag and Drop Files Here
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

    <!-- Buttons -->
    <script src='http://codepen.io/assets/editor/live/css_live_reload_init.js'></script>
    <script type='text/javascript'>//<![CDATA[

        $(function(){
            $("#uploadlink1").on('click', function(e){
                e.preventDefault();
                $("#file-picker1:hidden").trigger('click');
            });
            });

        $(function(){
            $("#uploadlink2").on('click', function(e){
                e.preventDefault();
                $("#file-picker2:hidden").trigger('click');
            });
            });

        $(function(){
            $("#uploadlink3").on('click', function(e){
                e.preventDefault();
                $("#file-picker3:hidden").trigger('click');
            });
            });

    //]]> 


    </script>

</body>

</html>